<%layout("/layouts/boilerplate")%>

<body>

  <div class="row">
    <div class="col-8  offset-2">
      <br/><br/>
  <h3>Create a New Listing</h3>
  <br/>
  <form method="POST" action="/listings" novalidate class="needs-validation" >
    <div class="mb-3">
      <label for="title" class="form-lable">Title</label>

      <input
        name="listing[title]"
        placeholder="enter title"
        type="text"
        class="form-control"
        required
      />
      <div class="valid-feedback">
       Title Looks good!
      </div>
    </div>


    <div class="mb-3">
      <label for="description" class="form-lable">Description</label>
      <textarea
        name="listing[description]"
        placeholder="enter description"
        class="form-control"
       required></textarea>
       <div class="invalid-feedback">
        Please enter valid Description
       </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-lable" >upload Image</label>
      <input
        name="listing[image]"
        placeholder="enter image link/url"
        type="text"
        class="form-control"
      />
    </div>
    <div class="row">

    <div class="mb-3 col-4 ">
      <label for="Price" class="form-lable" >Price</label>

      <input name="listing[price]" placeholder="enter price" type="number" required class="form-control" />
      <div class="invalid-feedback">
     Please enter valid price
      </div>
    </div>

    <div class="mb-3 col-md-8">
      <label for="country" class="form-lable" >Country</label>

      <input name="listing[country]" placeholder="enter country" type="text"  required class="form-control" />
      <div class="invalid-feedback">
        Please enter valid country
         </div>
    </div>
  </div>

    <div class="mb-3">
      <label for="location" class="form-lable" class="form-control">Location</label>

      <input
        name="listing[location]"
        placeholder="enter location"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Please enter valid loaction
         </div>
    </div>
  <br/>
  
    <button class="btn btn-dark add-btn"> Add </button> <br/><br/>
   
  </form>
</div>
</div>
</body>
