<%layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-lable">Username</label>
          
                <input
                  name="username"
                  placeholder="enter username"
                  id="username"
                  type="text"
                  class="form-control"
                  required
                />
                <div class="valid-feedback">
                Looks good!
                </div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-lable">Email</label>
          
                <input
                  name="email"
                  placeholder="enter email"
                  id="email"
                  type="text"
                  class="form-control"
                  required
                />
               
              </div>
              <div class="mb-3">
                <label for="password" class="form-lable">Password</label>
          
                <input
                  name="password"
                  placeholder="enter password"
                  id="password"
                  type="text"
                  class="form-control"
                  required
                />
                <div class="valid-feedback">
                Looks good!
                </div>
              </div>
              <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>